version: '3.7'

services:
    sonarqube:
        image: sonarqube:latest
        container_name: sonarqube
        ports:
            - "9000:9000"
        environment:
            - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
        
